.navbar {
    position: absolute;
    right: 30px;
}

a {
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: -12px 14px 46px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: -12px 14px 46px 0px rgba(0,0,0,0.37);
    box-shadow: -12px 14px 46px 0px rgba(0,0,0,0.37);
}

span {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}