.navbar {
    z-index: 30;
    background-color: rgb(231, 231, 231) !important;
}

.mr-2 {
    margin-right: 1rem;
}

a.btn, button.btn {
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: -12px 14px 46px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: -12px 14px 46px 0px rgba(0,0,0,0.37);
    box-shadow: -12px 14px 46px 0px rgba(0,0,0,0.37);
    border-radius: 20px;
    margin-right: 20px;
    min-width: 150px;
    justify-content: space-around;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Secular One' !important;
}

#navbarcito {
    padding: 0 5%;
    @media (min-width: 992px) {
        justify-content: space-between !important;
    }
    justify-content: space-between !important;
}