<nav class="navbar" *ngIf="isLogged && innerWidth > 1070">
    <a routerLink="/" class="btn text-busy" matTooltip="Home" matTooltipPosition="below">
      <span class="material-symbols-outlined">
        home
      </span>
      <span class="title">Home</span>
    </a>
    <a routerLink="/app/offer" class="btn text-busy" matTooltip="Home" matTooltipPosition="below">
      <span class="material-symbols-outlined mr-2">
        construction
      </span>
      <span class="title">Registrar trabajo</span>
    </a>
    <button class="btn text-white color-busy" (click)="logout()" matTooltip="Salir" matTooltipPosition="below">
      <span class="material-symbols-outlined">
        logout
      </span>
      <span class="title">Salir</span>
    </button>
  </nav>
  
  <nav class="navbar background-gray" *ngIf="!isLogged">
    <a routerLink="/register" class="btn text-white color-busy" matTooltip="Ingresar" matTooltipPosition="below">
      <span class="material-symbols-outlined">
        login
      </span>
      <span class="title">Ingresar</span>
    </a>
</nav>