<div class="container">
    <form class="offer">
        <mat-form-field>
          <mat-label>Título</mat-label>
          <input matInput placeholder="Cortar pasto en ...">
        </mat-form-field>
      
        <mat-form-field>
          <mat-label>Cuéntanos, ¿de qué trata el trabajo?</mat-label>
          <textarea matInput placeholder="El trabajo trata de..."></textarea>
        </mat-form-field>

        <div class="form-group">
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
    </form>
</div>