.offer {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 4rem auto auto auto;
}

.right {
    justify-content: end;
}

.mat-mdc-form-field {
    display: block;
}

h2 {
    color: #3f02e8;
}