<div class="postulante" [style]="applier.id_estado == 1 ? 'background: rgba(0, 180, 0, 0.6)': (applier.id_estado == 2 ? 'background: rgba(180, 0, 0, 0.6)': 'background: rgba(255, 255, 0, 0.6)')">
    <a class="user" [routerLink]="'/app/profile/'+applier.user.rut">
        <div class="izk">
            <div class="profile">
                <img [src]="applier.user.foto == null ? 'http://localhost:3000/' + 'app/defaultprofilepic.png': 'http://localhost:3000/' + applier.user.foto"
                    alt="" class="foto" [matTooltip]="applier.user.nombres + ' ' + applier.user.apellidos"
                    matTooltipPosition="below">
            </div>
            <div class="nombre">
                {{ applier.user.nombres }} {{ applier.user.apellidos }}
            </div>
        </div>
        <div *ngIf="!hasNullTrabajoRealizado(applier)">
            <app-star *ngFor="let star of cantidadEstrellas(applier)" [isActive]="true"></app-star>
            <span class="material-symbols-outlined">
                done
            </span>
        </div>
        <div *ngIf="applier.id_estado == 1 && hasNullTrabajoRealizado(applier) && applier.rut_trabajador == userRut">
            <a routerLink="evidence" class="color-busy p-2">Subir evidencia</a>
        </div>
    </a>
    <div class="choose" *ngIf="isAppliersApprovedLessThanMax() && isEmployer()">
        <button class="btn btn-busy" (click)="handleChooseApplier(applier.user.rut, 1)" *ngIf="!workHasChosenApplierByRut(applier.user.rut)">
            <span class="material-symbols-outlined">
            check_circle
            </span>
        </button>
        <button class="btn btn-busy" (click)="handleChooseApplier(applier.user.rut, 2)" *ngIf="!workHasChosenApplierByRut(applier.user.rut)">
            <span class="material-symbols-outlined">
            cancel
            </span>
        </button>
    </div>
</div>
<div class="applierInfo" *ngIf="!hasNullTrabajoRealizado(applier)">
    <div class="fecha">
        <p class="value">{{ fechaTermino(applier) | date }}</p>
    </div>
    <div class="comentario_empleador">
        <q class="value">{{ applier.trabajo_realizado_propio.comentario_empleador == "" ? 'El empleador no proporcionó comentario': applier.trabajo_realizado_propio.comentario_empleador }}</q>
    </div>
</div>