<app-navbar></app-navbar>
<div class="split-page">
    <section id="application" class="flex-1">
        <div class="center">
            <div class="flex-container">
                <div class="buttons-left">
                    <button class="btn btn-block transparent" (click)="prev()" matTooltip="Subir" matTooltipPosition="above">
                        <span class="material-symbols-outlined">
                            arrow_upward
                        </span>
                    </button>
                    <button class="btn btn-block transparent" (click)="gotoOffer()" matTooltip="Registrar Trabajo" matTooltipPosition="right">
                        <span class="material-symbols-outlined">
                            library_add
                        </span>
                    </button>
                    <button class="btn btn-block transparent" (click)="next()" matTooltip="Bajar" matTooltipPosition="below">
                        <span class="material-symbols-outlined">
                            arrow_downward
                        </span>
                    </button>
                </div>
                <div class="workImage">
                    <div class="info">
                        <span class="job-info">
                            <span class="job-id">ID: {{ jobs[pos].id }}</span>
                            <span class="job-title">
                                {{jobs[pos].titulo}}
                            </span>
                            <span class="job-price">
                                {{jobs[pos].precio | currency:'CLP$ ':'symbol':'1.0-0'}}
                            </span>
                            <a class="show-more" href="">Más información...</a>
                        </span>
                    </div>
                    <div class="filter">
                    </div>
                    <img [src]="'http://localhost:3000/'+jobs[pos].foto" class="content" [alt]="jobs[pos].titulo">
                </div>
                <div class="buttons-right">
                    <div class="upside">
                        <a class="btn btn-block transparent" routerLink="about" matTooltip="Sobre Busy" matTooltipPosition="right">
                            <span class="material-symbols-outlined">
                                info
                            </span>
                        </a>
                        <button class="btn btn-block transparent" (click)="gotoProfile()" matTooltip="Mi perfil" matTooltipPosition="right">
                            
                            <img [src]="'http://localhost:3000/'+ foto" alt="" class="perfil-thumbnail">
                        </button>
                    </div>
                    <div class="downside">
                        <button class="btn btn-block transparent" (click)="logout()" matTooltip="Salir" matTooltipPosition="right">
                            <span class="material-symbols-outlined">
                                logout
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div></div>
    </section>
    <div class="p-10 flex-1">
        <app-job-info [job]="jobs[pos]"></app-job-info>
    </div>
</div>