#application {
    background-color: rgb(231, 231, 231);
    height: 100vh;
}

.workImage {
    max-width: 450px;
    height: 80%;
    object-fit: cover;
    margin: auto;
    border-radius: 20px;
    box-shadow: inset 0px -15px 30px -10px rgba(58, 58, 58, 0.40);
    -webkit-box-shadow: -12px 14px 46px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: -12px 14px 46px 0px rgba(0,0,0,0.37);
    box-shadow: -12px 14px 46px 0px rgba(0,0,0,0.37);
}

.split-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.content {
    height: 100%;
    max-width: 450px;
    object-fit: cover;
    border-radius: 20px;
}


.filter {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
    height: 80%;
    width: 450px;
    position: absolute;
    z-index: 1;
    opacity: 0.5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding-bottom: 5%;
    padding-left: 10px;
}

.info {
    height: 80%;
    width: 450px;
    position: absolute;
    z-index: 2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding: 0 0 5% 10px;
}

.job-info {
    display: flex;
    flex-direction: column;
}

.job-id {
    color: #ACA9D8;
}

.job-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.show-more {
    font-size: 0.8rem;
    font-weight: bold;
    transition: .2s ease-in-out;
    margin: 10px auto 0 0;
}

.show-more:hover {
    transform: scale(1.1);
    margin-left: 10px;
    transition: .2s ease-in-out;
}

.center {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.buttons-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5.5rem 1rem;
    transition: .2s ease-in-out;
}

.buttons-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5.5rem 1rem;
    display: 100%;
}

button:hover, a:hover {
    transform: scale(1.3);
    transition: .2s ease-in-out;
}

button, a {
    transition: .2s ease-in-out;
}

.upside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.downside {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.material-symbols-outlined {
    box-shadow: 0px 0px 200px -10px #ACA9D8;

}

.perfil-thumbnail {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
    border: 3px solid #3f02e8;
    -webkit-box-shadow: -5px 5px 23px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: -5px 5px 23px 0px rgba(0,0,0,0.50);
    box-shadow: -5px 5px 23px 0px rgba(0,0,0,0.50);
}