<app-navbar></app-navbar>
<div class="row">
    <div class="split-page col-lg-6 col-md-12 col-sm-12" >
        <section id="application">
            <div class="center">
                <div class="d-flex flex-column">
                    <div class="dual-buttons">
                        <button id="servicios" [className]="section == 2 ? 'btn color-busy': 'btn'" (click)="section = 2">Servicios</button>
                        <button id="trabajos" [className]="section == 1 ? 'btn color-busy': 'btn'" (click)="section = 1">Trabajos</button>
                    </div>
                    <div class="flex-container">
                        <div class="buttons-left">
                            <button class="btn btn-block transparent" (click)="prev()" matTooltip="Subir"
                                matTooltipPosition="above">
                                <span class="material-symbols-outlined">
                                    arrow_upward
                                </span>
                            </button>
                            <button class="btn btn-block transparent" (click)="gotoOffer()" matTooltip="Registrar Trabajo"
                                matTooltipPosition="right">
                                <span class="material-symbols-outlined">
                                    library_add
                                </span>
                            </button>
                            <button class="btn btn-block transparent" (click)="next()" matTooltip="Bajar"
                                matTooltipPosition="below">
                                <span class="material-symbols-outlined">
                                    arrow_downward
                                </span>
                            </button>
                        </div>
                        <app-trabajos [pos]="jobPos" *ngIf="section == 1"></app-trabajos>
                        <app-servicios *ngIf="section == 2"></app-servicios>
                        <div class="buttons-right">
                            <div class="upside">
                                <a class="btn btn-block transparent" routerLink="about" matTooltip="Sobre Busy"
                                    matTooltipPosition="right">
                                    <span class="material-symbols-outlined">
                                        info
                                    </span>
                                </a>
                                <button class="btn btn-block transparent profile" (click)="gotoProfile()" matTooltip="Mi perfil"
                                    matTooltipPosition="right">
    
                                    <img [src]="'http://localhost:3000/'+ foto" alt="" class="perfil-thumbnail">
                                </button>
                            </div>
                            <div class="downside">
                                <button class="btn btn-block transparent" (click)="logout()" matTooltip="Salir"
                                    matTooltipPosition="right">
                                    <span class="material-symbols-outlined">
                                        logout
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </div>
    <div class="p-10 col-lg-6 col-md-12 col-sm-12" [ngClass]="innerWidth <= 997 && showingInfo? 'hidden': 'p-10 col-lg-6 col-md-12 col-sm-12'">
        <app-job-info></app-job-info>
    </div>
</div>
