.title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    line-height: normal;
    font-family: 'Secular One';
}

.description {
    font-size: 1.2em;
    font-weight: normal;
    line-height: normal;
    font-family: 'Secular One';
}

#information {
    background-color: rgb(231, 231, 231);
    height: 80vh;
    overflow-y: scroll;
}

#information::-webkit-scrollbar {
    -webkit-appearance: none;
}

#information::-webkit-scrollbar:vertical {
    width:5px;
}

#information::-webkit-scrollbar-button:increment,#information::-webkit-scrollbar-button {
    display: none;
} 

#information::-webkit-scrollbar-thumb {
    background-color: rgba($color: #3f02e8, $alpha: 1);
    border-radius: 20px;
}

#information::-webkit-scrollbar-track {
    border-radius: 10px;  
}

/* span {
    
    padding-top: 20px;
} */

span.italic {
    font-family: 'Secular One';
    font-size: 3rem;
    font-style: italic;
    font-size: 1rem;
}

.card-title {
    font-family: 'Secular One';
    font-size: 2rem;
    padding-top: 20px;
}


.card {
    height: 90%;
    border-radius: 20px;
    border: 5px solid #3f02e8;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    border-radius: 20px;
}

.precio {
    padding-bottom: 10px;
}

.list-group-item {
    background-color: rgb(231, 231, 231);
}

.btn-busy {
    background-color: #3f02e8;
    color: white;
    border-radius: 20px;
    border: 0;
    font-family: 'Secular One';
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 20px;
    margin: 10px 0;
    text-align: center;
    transition: .2s ease-in-out;
}

.btn-busy:hover {
    padding: 10px 20px;
    transition: .2s ease-in-out;
}

.postular {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-block {
    width: 100%;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
button.btn-busy {    
    -webkit-box-shadow: -5px 14px 12px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: -5px 14px 12px 0px rgba(0,0,0,0.37);
    box-shadow: -5px 14px 12px 0px rgba(0,0,0,0.37);
}