<ng-container *ngIf="work.precio != ''; then loaded; else loading"></ng-container>

<ng-template #loaded>
    <div class="container" id="information" *ngIf="!isViewingMap">
        <button class="btn-back transparent background" (click)="goBackToPreviousPage()">
            <span class="material-symbols-outlined">arrow_back</span>
        </button>
        <br>
        <h3 class="title background">
            {{ work.titulo }}
            <h6 class="subtitle">
                por <a [href]="'/app/profile/' + work.empleador.rut">{{ work.empleador.nombres }} {{ work.empleador.apellidos }}</a>, <span class="italic">{{ dateDiff(work.fecha_publicacion) }}</span>
            </h6>
        </h3>

        <div class="info-row">
            <div class="info-section">
                <div class="icono">
                    <span class="material-symbols-outlined text-busy">groups</span>
                    <span class="icono-valor">{{ work.cantidad_personas }} {{ work.cantidad_personas == "1" ? 'persona' : 'personas' }}</span>
                </div>
                <div class="icono">
                    <span class="material-symbols-outlined text-busy">payments</span>
                    <span class="icono-valor">{{ work.precio | currency:'CLP$ ':'symbol':'1.0-0' }}</span>
                </div>
                <div class="icono">
                    <span class="material-symbols-outlined text-busy">calendar_month</span>
                    <span class="info-value">Selección:</span>
                    <span class="icono-valor">{{ work.fecha_seleccion_postulante | date: 'dd/MM/yyyy' }}</span>
                </div>
                <div class="icono">
                    <span class="material-symbols-outlined text-busy">done</span>
                    <span class="info-value">Finalización:</span>
                    <span class="icono-valor">{{ work.fecha_finalizacion | date: 'dd/MM/yyyy' }}</span>
                </div>
            </div>
        </div>

        <p class="description background">
            {{ work.descripcion }}
        </p>
        <br>
        <div class="card previsualizacion" *ngIf="work.ubicacion != null">
            <div class="card-body">
                <iframe style="border:0" loading="lazy" allowfullscreen referrerpolicy="no-referrer-when-downgrade"
                    [src]="(mapskey + getUbicacion()) | safe"></iframe>
            </div>
        </div>

        <br>

        <h6 class="title">{{ applierslength }} postulantes</h6>
        <div class="postulantes" *ngIf="!isUpdating; else loading">
            <div class="trabajador" *ngFor="let applier of appliers">
                <img [src]="applier.user.foto == null ? 'http://localhost:3000/' + 'app/defaultprofilepic.png' : 'http://localhost:3000/' + applier.user.foto" alt="" class="img-fluid foto" [matTooltip]="applier.user.nombres + ' ' + applier.user.apellidos" matTooltipPosition="below">
            </div>
        </div>

        <div class="postular">
            <button class="btn btn-block btn-busy hover" (click)="applyWork()" id="apply" [ngClass]="isApplier || isJobOwner ? 'disabled': ''">Postular</button>
        </div>
    </div>

    <div id="information" *ngIf="isViewingMap">
        <button class="btn transparent" (click)="viewMap()">
            <span class="material-symbols-outlined">arrow_back</span>
        </button>
        <div class="card">
            <div class="card-body">
                <iframe style="border:0" loading="lazy" allowfullscreen referrerpolicy="no-referrer-when-downgrade"
                    [src]="(mapskey + getUbicacion()) | safe"></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #loading>
    <div class="container loading">
        <div class="spinner-border text-busy" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-template>
