<ng-container *ngIf="work.precio != '';then loaded; else loading"></ng-container>
<ng-template #loaded>
    <div class="container" id="information" *ngIf="!isViewingMap">
        <button class="btn-back transparent background" (click)="goBackToPreviousPage()">
            <span class="material-symbols-outlined">
                arrow_back
            </span>
        </button>
        <h3 class="title text-busy background">
            {{ work.titulo }}
            <h6 class="subtitle">
                por <a [href]="'/app/profile/' + work.empleador.rut" >{{ work.empleador.nombres }} {{ work.empleador.apellidos }}</a>, <span class="italic text-busy">{{
                    dateDiff(work.fecha_publicacion) }}</span>
            </h6>
        </h3>
        <p class="description background">
            Necesito <span class="badge color-busy">{{ work.cantidad_personas }}</span> {{ work.cantidad_personas == "1" ? 'persona' : 'personas' }}
            <br>
            <br>
            {{ work.descripcion }}
            <br><br>
            <span class="badge color-busy">{{ work.precio | currency:'CLP$ ':'symbol':'1.0-0' }}</span>
        </p>
        <br>
        <table class="table">
            <thead class="color-busy sombra">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Datos</th>
                </tr>
            </thead>
            <br>
            <tbody>
                <tr>
                    <th scope="row">Ubicación</th>
                    <td class="map-cell"><p class="bold">{{ !!work.ubicacion ? work.ubicacion : 'No especificada' }}</p>
                        <button class="btn transparent viewmap text-busy" (click)="viewMap()" *ngIf="work.ubicacion != null">Ver Mapa</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Fecha de Selección</th>
                    <td>{{ work.fecha_seleccion_postulante | date: 'dd/MM/yyyy' }} — <span class="italic text-busy">{{
                            dateDiff(work.fecha_seleccion_postulante) }}</span></td>
                </tr>
                <tr>
                    <th scope="row">Fecha de Término</th>
                    <td>{{ work.fecha_finalizacion | date: 'dd/MM/yyyy' }} — <span class="italic text-busy">{{
                            dateDiff(work.fecha_finalizacion) }}</span></td>
                </tr>
            </tbody>
        </table>

        <h6 class="title text-busy">{{ applierslength }} postulantes</h6>
        <div class="postulantes" *ngIf="!isUpdating;else loading">
            
            <div class="trabajador" *ngFor="let applier of appliers">
                <img [src]="applier.user.foto == null ? 'http://localhost:3000/' + 'app/defaultprofilepic.png': 'http://localhost:3000/' + applier.user.foto" alt="" class="img-fluid foto" [matTooltip]="applier.user.nombres + ' ' + applier.user.apellidos"
                matTooltipPosition="below">
            </div>
        </div>

        <div class="postular">
            <button class="btn btn-block btn-busy hover" (click)="applyWork()" id="apply" [ngClass]="isApplier || isJobOwner ? 'disabled': ''">Postular</button>
            <!-- <button class="btn btn-block btn-busy hover">Hacer oferta</button> -->
        </div>
    </div>
    
    <div id="information" *ngIf="isViewingMap">
        <button class="btn transparent" (click)="viewMap()">
            <span class="material-symbols-outlined">
                arrow_back
            </span>
        </button>
        <div class="card">
            <div class="card-body">
                <iframe style="border:0" loading="lazy" allowfullscreen referrerpolicy="no-referrer-when-downgrade"
                    [src]="(mapskey + getUbicacion()) | safe">
                </iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #loading>
    <div class="container loading">
        <div class="spinner-border text-busy" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-template>