.profile {
    padding-top: 4rem;
    text-align: center;
    min-height: 100vh;
    height: 100vh;
    overflow-y: scroll;
}

.profile::-webkit-scrollbar {
    -webkit-appearance: none;
}

.profile::-webkit-scrollbar:vertical {
    width:5px;
}

.profile::-webkit-scrollbar-button:increment,.profile::-webkit-scrollbar-button {
    display: none;
} 

.profile::-webkit-scrollbar-thumb {
    background-color: rgba($color: #3f02e8, $alpha: 1);
    border-radius: 20px;
}

.profile::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.photo {
    padding-bottom: 1rem;
}

#formulario {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.image-upload>input {
    display: none;
}

.edit {
    border: 1px solid #3f02e8;
    padding: 5px 7px;
    border-radius: 50%;
    color: #3f02e8;
    position: absolute;
    transition: .2s ease-in-out;
}

.edit:hover {
    background-color: #3f02e8;
    color: white;
    transition: .2s ease-in-out;
}

.picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.mat-mdc-form-field {
    width: 100%;
}

.maps_container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}



.btn {
    max-width: 300px;
    min-width: 150px;
    margin: auto;

}

.trabajos {
    border: 0
}

a.user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nombre {
    /* align vertically center */
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-family: 'Secular One';
    font-size: 1rem;
}

.foto {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    
    border: 3px solid #3f02e8;
}

.profile-postulation {
    width: 40px;
    height: 40px;
}

.postulante {
    display: flex;
    border: 2px solid #3f02e8;
    margin-bottom: 5px;
    padding: 5px;
    max-height: 70px;
    justify-content: space-between !important;
}

a.user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.izk {
    display: flex;
    flex-direction: row;
}

.cover {
    background-position: center;
    background-size: cover;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
  }
  
  .star-container {
    position: relative;
    display: inline-block;
  }
  
  @keyframes starShine {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  .star {
    position: absolute;
    width: 20px;
    height: 20px;
    color: yellow;
    font-size: 1.5rem;
  }

  .fas {
    animation: starShine 1s ease-in-out infinite;
  }
  
  .star:nth-child(1) {
    top: 50px;
    left: -70px;
  }
  
  .star:nth-child(2) {
    top: -10px;
    left: -40px;
  }
  
  .star:nth-child(3) {
    top: -44px;
    left: 40px;
  }
  
  .star:nth-child(4) {
    top: -10px;
    left: 125px;
  }
  
  .star:nth-child(5) {
    top: 50px;
    left: 150px;
  }
  
  .photo {
    position: relative;
    display: inline-block;
  }
  
  .picture {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .edit {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    background-color: #fff;
    padding: 4px;
    border-radius: 50%;
  }
  
  .edit i {
    color: #333;
  }