.profile {
    padding-top: 4rem;
    text-align: center;
    min-height: 100vh;
}

.photo {
    padding-bottom: 1rem;
}

#formulario {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.image-upload>input {
    display: none;
}

.edit {
    border: 1px solid #3f02e8;
    padding: 5px 7px;
    border-radius: 50%;
    color: #3f02e8;
    position: absolute;
    transition: .2s ease-in-out;
}

.edit:hover {
    background-color: #3f02e8;
    color: white;
    transition: .2s ease-in-out;
}

.picture {
    max-width: 100%;
    max-height: 100px;
    border-radius: 50%;
}

.mat-mdc-form-field {
    width: 100%;
}

.maps_container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}



.btn {
    max-width: 300px;
    min-width: 150px;
    margin: auto;

}

.trabajos {
    width: 100%;
    border: 0
}