<section class="profile background-gray" *ngIf="!loading">

    <div [class]="visitor ? 'container-fluid': 'container'">
        <!-- button go back -->
        <button class="btn-back transparent" (click)="goBackToPreviousPage()" matTooltip="Volver"
            matTooltipPosition="above">
            <span class="material-symbols-outlined">
                arrow_back
            </span>
        </button>
        <div class="data">
            <form action="" [formGroup]="userData" id="formulario" (submit)="editUser()">
                <div class="row">
                    <div class="perfil col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <!-- PROFILE INFORMATION -->
                        <form action="" class="photo image-upload">
                            <label for="file-input">
                                <img [src]="profilePicture" alt="" class="img-fluid picture">
                            </label>
                            <label for="file-input" class="edit" *ngIf="!visitor">
                                <i class="fa-solid fa-pencil"></i>
                            </label>
                            <input id="file-input" type="file" (change)="handlePicture($event)" accept="image/*" #picture />
                        </form>
                        <h3> {{ profileInfo.usuario.nombres }} {{ profileInfo.usuario.apellidos }}</h3>
                        <table class="table table-responsive">
                            <thead class="color-busy">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Datos</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">RUT</th>
                                    <td>{{ profileInfo.usuario.rut }}-{{ profileInfo.usuario.dv }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Nombres</th>
                                    <td>{{ profileInfo.usuario.nombres }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Apellidos</th>
                                    <td>{{ profileInfo.usuario.apellidos }}</td>
                                </tr>
                                <tr *ngIf="visitor">
                                    <th scope="row">Correo</th>
                                    <td>{{ profileInfo.usuario.mail }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- PROFILE EDITABLE -->
                        <div *ngIf="!visitor">
                            <mat-form-field>
                                <mat-label>Correo electrónico</mat-label>
                                <input matInput formControlName="mail" [value]="mail" readonly>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Dirección</mat-label>
                                <input matInput formControlName="direccion">
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Fecha de Nacimiento</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="fecha_nacimiento">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="servicios col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <app-servicios-profile [servicios]="profileInfo.servicios"></app-servicios-profile>
                    </div>
                    <div class="trabajos col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <!-- WORKS -->
                        <app-ofertas [ofertas]="profileInfo.trabajos"></app-ofertas>
                    </div>
                    <div class="postulaciones col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <h3>Postulaciones pendientes</h3>
                        <div class="postulante" *ngFor="let applier of profileInfo.postulaciones" [style]="haveUserAcceptedPostulation(applier) ? 'background: rgba(0, 180, 0, 0.6)': (applier.id_estado == 2 ? 'background: rgba(180, 0, 0, 0.6)': 'background: rgba(255, 255, 0, 0.6)')">
                            <a class="user" [routerLink]="'/app/profile/trabajo/'+applier.trabajo.id">
                                <div class="profile-postulation">
                                    <img [src]="applier.empleador.foto == null ? apiUrl + 'app/defaultprofilepic.png': apiUrl + applier.empleador.foto"
                                        alt="" class="foto" [matTooltip]="applier.empleador.nombres + ' ' + applier.empleador.apellidos"
                                        matTooltipPosition="below">
                                </div>
                                <div class="nombre">
                                    {{ applier.trabajo.titulo }}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <button class="btn btn-block color-busy" *ngIf="!visitor">Guardar</button>
            </form>
        </div>
    </div>

    <div class="skills">
        <form>
            <!-- <mat-form-field class="example-chip-list">
                <mat-chip-listbox #chipList>
                  <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                           [removable]="removable" (removed)="remove(fruit)">
                    {{fruit.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="New skill..."
                         [matChipInputFor]="chipList"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="addOnBlur"
                         (matChipInputTokenEnd)="add($event)">
                </mat-chip-listbox>
              </mat-form-field> -->
        </form>
    </div>

</section>
<app-loader *ngIf="loading"></app-loader>