<app-navbar></app-navbar>
<section class="profile background-gray">
    <form action="" class="photo image-upload">
        <label for="file-input">
            <img [src]="profilePicture" alt="" class="img-fluid picture">
        </label>
        <label for="file-input" class="edit">
            <i class="fa-solid fa-pencil"></i>
        </label>
        <input id="file-input" type="file" (change)="handlePicture($event)" accept="image/*" #picture />
    </form>
    <h3> {{ nombre }} </h3>
    <div class="container-fluid">
        <div class="data">
            <form action="" [formGroup]="userData" id="formulario" (submit)="editUser()">
                <div class="row">
                    <div class="col-lg-2 col-md-12 col-sm-12">
                    <ng-container *ngIf="!!profileInfo;then loaded; else loading"></ng-container>
                    <ng-template #loaded>
                        

                            <!-- WORKS -->
                            <app-ofertas [ofertas]="profileInfo.workInformation"></app-ofertas>
                            
                        
                        <div class="col-lg-2 col-md-12 col-sm-12 servicios"></div>
                    </ng-template>
                </div>
                    <ng-template #loading>
                        <!-- LOADING HAS TO BE SAME FLEX AS WORKS -->
                        <div class="col-lg-2 col-md-12 col-sm-12 loading">
                            <div class="spinner-border text-busy" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </ng-template>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <!-- PROFILE INFORMATION -->
                        <table class="table">
                            <thead class="color-busy">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Datos</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">RUT</th>
                                    <td>{{ rut }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Nombres</th>
                                    <td>{{ nombres }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Apellidos</th>
                                    <td>{{ apellidos }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- PROFILE EDITABLE -->
                        <mat-form-field>
                            <mat-label>Correo electrónico</mat-label>
                            <input matInput formControlName="mail" [value]="mail" readonly>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Dirección</mat-label>
                            <input matInput formControlName="direccion">
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Fecha de Nacimiento</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="fecha_nacimiento">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>

                </div>



                <button class="btn btn-block color-busy">Guardar</button>
            </form>
        </div>
    </div>

    <div class="skills">
        <form>
            <!-- <mat-form-field class="example-chip-list">
                <mat-chip-listbox #chipList>
                  <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                           [removable]="removable" (removed)="remove(fruit)">
                    {{fruit.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="New skill..."
                         [matChipInputFor]="chipList"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="addOnBlur"
                         (matChipInputTokenEnd)="add($event)">
                </mat-chip-listbox>
              </mat-form-field> -->
        </form>
    </div>

</section>