#sidebar {
    width: 4.5rem;
    height: 100vh;
    z-index: 10;
}

.logo {
    font-family: 'Secular One';
    font-weight: 400;
    text-align: center;
    color: #3f02e8;
}
.offcanvas {
    width: 250px;
}

.navbar-toggler {
    border: none;
    color: white;
}

.offcanvas-title, .navbar-brand {
    color: #3f02e8 !important;
    font-family: 'Secular One';
}

.fa-solid { 
    color: #3f02e8;
}