<div class="workImage">
    <div class="info">
        <span class="job-info">
            <span class="job-id">ID: {{ services[pos].id }}</span>
            <span class="job-title">
                {{ services[pos].titulo }}
            </span>
            <span class="job-price">
                CLP$ <span class="price">{{ services[pos].precio | currency : '' : 'symbol' : '1.0-0' }}</span>
            </span>
            <button class="show-more" (click)="showMore()" href="">Más información...</button>
        </span>
    </div>
    <div class="filter">
    </div>
    <img [src]="'http://localhost:3000/'+services[pos].foto" class="img-fluid content" [alt]="services[pos].titulo">
</div>