.filter {
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%);
    min-height: 270px;
    width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding-bottom: 5%;
    padding-left: 10px;
}

.info {
    position: absolute;
    z-index: 2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding: 0 2% 2% 2%;
    height: 100%;
    width: 100%;
}

.job-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.job-id {
    color: #ACA9D8;
}

.job-title {
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1;
    padding-right: 1rem;
}

.job-price {
}

.price {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1;
}

.show-more {
    font-size: 0.8rem;
    font-weight: bold;
    transition: .2s ease-in-out;
    margin: 10px auto 0 0;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    padding: 10px 30px;
}

.content {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    border-radius: 20px;
}

.workImage {
    /* min-width: 400px; */
    /* min-height: 270px; */
    height: 270px;
    margin: auto;
    border-radius: 20px;
    box-shadow: inset 0px -15px 30px -10px rgba(58, 58, 58, 0.4);
    box-shadow: -12px 14px 46px 0px rgba(0, 0, 0, 0.37);
    position: relative;
    /* width: auto; */
}

.service {
    margin: 1% 0;
}

.perfil-thumbnail {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0;
    border: 3px solid #3f02e8;
    -webkit-box-shadow: -5px 5px 23px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: -5px 5px 23px 0px rgba(0,0,0,0.50);
    box-shadow: -5px 5px 23px 0px rgba(0,0,0,0.50);

}

.separador {
    height: auto;
}

.profile {
    text-align: left;
}
