h3, h6 {
    font-family: sans-serif;
    text-align: left;
}

.card {
   margin: 0;
   width: 100%;
   border-radius: 10px;
   border: 0;
    padding: 0;
    margin: 0 0 20px 0;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    border-radius: 0 10px 10px 10px;
    height: 150px;
    margin: 10px 10px;
}

.card-body {
    width: 100%;
    height: 100px;
    color: black;
    border-radius: 5px;
}

.card-title {
    text-align: left;
    font-weight: 600;
    font-weight: bolder;
}

.bg-caca {
    background-color: #cacaca;
    border-radius: 5px;
}

.works {
    border: 0;
    padding: 0;
    margin: 0 0 20px 0;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    border-radius: 0 10px 10px 10px;
}

.filter {
    /* black filter */
    padding: 10px;
    background: rgba($color: #000000, $alpha: 0.5);
    border-radius: 0 10px 10px 10px;
    border: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

mat-grid-list { 
    margin: 0 !important;
    border: 0 !important;
    background-color: transparent !important;
}

.mat-grid-tile-content {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    height: 100%;
    /* width: 100%; */
    padding: 0;
    margin: 0;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    margin-right: 4px;
}

span {
    /* align */
    display: flex;
    align-items: center;
    justify-content: left;
}

.error-red {
    color: rgb(155, 0, 0);
}

.green {
    color: green;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover {
    /* smooth growing animation */
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.text-left {
    justify-content: left;
    margin-left: 10px;
}

.estado {
    text-align: left;
}

div.postulantes { 
    display: flex;
    flex-direction: row;
}

.trabajador {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 2px;
    box-shadow: -5px 5px 23px 0px rgba(0, 0, 0, 0.5);
}

.foto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #3f02e8;
}

img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.status-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .available {
    background-color: green;
  }
  
  .with-applicants {
    color: blue;
  }
  
  .with-applicants span {
    margin-left: 5px;
  }
  
  .unavailable {
    background-color: red;
    display: flex;
    margin-bottom: 5px;
  }
  
  .fa-users {
    margin-right: 5px;
  }

  .mini-info, .with-applicants {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
  }

  