<h3>Trabajos</h3>
<!-- <a *ngFor="let work of works" class="works" [routerLink]="'trabajo/'+work.id">
    <div class="card text-center" [style]="'background-image: url(http://localhost:3000/' + work.foto + ');'">
        <div class="card-body" >
            <div class="filter">
                <h5 class="card-title">{{ work.titulo }}</h5>
                <p class="card-text"> {{ work.precio | currency:'CLP$ ':'symbol':'1.0-0' }}</p>
            </div>
        </div>
    </div>
</a> -->

<mat-grid-list cols="2">
    <mat-grid-tile *ngFor="let work of works" class="works" [routerLink]="'trabajo/'+work.id">
        <a class="card text-center" [style]="'background-image: url(http://localhost:3000/' + work.foto + ');'" [routerLink]="'/app/profile/trabajo/'+work.id">
            <div class="card-body" >
                <div class="filter">
                    <span class="text-left" [class]="disponible(work.fecha_seleccion_postulante) == 1 ? 'animate__animated animate__pulse animate__infinite animate__slower': ''"> 
                        <span class="material-symbols-outlined green" *ngIf="disponible(work.fecha_seleccion_postulante)">
                            check_circle
                        </span>
                        <span class="material-symbols-outlined error-red" *ngIf="!disponible(work.fecha_seleccion_postulante)">
                            cancel
                        </span>
                        <span class="estado">
                            {{ disponible(work.fecha_seleccion_postulante) == 1 ? ' Disponible' : (tienePostulantesAceptados(work) ? postulantesAceptados(work).length + '/' + (work.cantidad_personas) + ' postulantes aceptados': 'No disponible') }}
                        </span>
                        
                    </span>
                    <h3 class="card-title">{{ work.titulo }}</h3>
                </div>
            </div>
        </a>
    </mat-grid-tile>
</mat-grid-list>