<h3 class="text-center">Tus trabajos publicados</h3>
<p *ngIf="works == null">No tienes trabajos publicados</p>

<div class="card mb-3" *ngFor="let work of works">
  <div class="row g-0">
    <div class="col-md-4 bg-caca">
      <img [src]="'http://localhost:3000/' + work.foto" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8 bg-caca">
      <div class="card-body">
        <div class="mini-info text-left">
            <div *ngIf="!isDone(work)">
                <div class="status-icon with-applicants">
                  <i class="fas fa-users text-busy"></i>
                  <span>{{ getPostulantes(work.postulantes!) }}</span>
                </div>
                
              </div>
        </div>
        <div *ngIf="isDone(work)" class="status-icon unavailable"></div>
        <h5 class="card-title">{{ work.titulo }}</h5>
        
        <a [routerLink]="'/app/profile/trabajo/' + work.id">Ver más</a>
      </div>
    </div>
  </div>
</div>