
<div class="container-fluid cover" *ngIf="!ready" [style]="'background-image: url(http://localhost:3000/'+ work.foto +')'">
            <div class="container" id="information">
                <a class="btn transparent">
                    <span class="material-symbols-outlined" (click)="goBack()">
                        arrow_back
                    </span>
                </a>
                <h3 class="title text-busy">{{ work.titulo }}</h3>
                <p class="description">
                    {{ work.descripcion }}
                </p>
                <table class="table">
                    <thead class="color-busy sombra">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Datos</th>
                        </tr>
                    </thead>
                    <br>
                    <tbody>
                        <tr>
                            <th scope="row">Precio</th>
                            <td>{{ work.precio | currency:'CLP$ ':'symbol':'1.0-0' }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Cantidad de Personas</th>
                            <td>{{ work.cantidad_personas }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Ubicación</th>
                            <td>{{ empleador.direccion }} — <button class="btn transparent">Ver Mapa</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Fecha de Publicación</th>
                            <td>{{ work.fecha_publicacion | date: 'dd/MM/yyyy' }} — <span class="italic text-busy">{{
                                    dateDiff(work.fecha_publicacion) }}</span></td>
                        </tr>
                        <tr>
                            <th scope="row">Fecha de Selección</th>
                            <td>{{ work.fecha_seleccion_postulante | date: 'dd/MM/yyyy' }} — <span class="italic text-busy">{{
                                    dateDiff(work.fecha_seleccion_postulante) }}</span></td>
                        </tr>
                        <tr>
                            <th scope="row">Fecha de Término</th>
                            <td>{{ work.fecha_finalizacion | date: 'dd/MM/yyyy' }} — <span class="italic text-busy">{{
                                    dateDiff(work.fecha_finalizacion) }}</span></td>
                        </tr>
                        <tr>
                            <th scope="row">Empleador</th>
                            <td>{{ empleador.nombres }} {{ empleador.apellidos }}</td>
                        </tr>
                    </tbody>
                </table>
                <div id="maps">
                    <div class="card">
                        <div class="card-body">
                            <iframe style="border:0" loading="lazy" allowfullscreen referrerpolicy="no-referrer-when-downgrade"
                                [src]="(mapskey + work.ubicacion) | safe">
                            </iframe>
                        </div>
                    </div>
                </div>
            <div class="container background">
                <section class="postulantes">
                    <h3 class="title text-busy">Postulantes</h3>
                    <div class="postulantes">
                        <a class="postulante" *ngFor="let applier of appliers" [routerLink]="'/app/profile/'+applier.rut">
                            <div class="profile">
                                <img [src]="applier.foto == null ? 'http://localhost:3000/' + 'app/defaultprofilepic.png': 'http://localhost:3000/' + applier.foto" alt="" class="foto" [matTooltip]="applier.nombres + ' ' + applier.apellidos"
                                matTooltipPosition="below">
                            </div>
                            <div class="nombre">
                                {{ applier.nombres }} {{ applier.apellidos }}
                            </div>
                        </a>
                    </div>
                </section>
            
            
        </div>
    </div>
</div>

<app-loader *ngIf="ready"></app-loader>