<div class="container-fluid cover" *ngIf="!ready"
    [style]="'background-image: url(apiUrl '+ work.foto +')'">
    <div class="container" id="information">
        <button class="btn-back transparent background" (click)="goBackToPreviousPage()">
            <span class="material-symbols-outlined">
                arrow_back
            </span>
        </button>
        <h3 class="title text-busy background">
            {{ work.titulo }}
            <h6 class="subtitle">
                por <a [href]="'/app/profile/' + empleador.rut" >{{ empleador.nombres }} {{ empleador.apellidos }}</a>, <span class="italic text-busy">{{
                    dateDiff(work.fecha_publicacion) }}</span>
            </h6>
        </h3>
        <p class="description background">
            Necesito <span class="badge color-busy">{{ work.cantidad_personas }}</span> {{ work.cantidad_personas == "1" ? 'persona' : 'personas' }}
            <br>
            <br>
            {{ work.descripcion }}
            <br><br>
            <span class="badge color-busy">{{ work.precio | currency:'CLP$ ':'symbol':'1.0-0' }}</span>
        </p>
        <div class="info-cards">
            <div class="maps" *ngIf="work.ubicacion != null">
                <div class="card">
                    <div class="card-body">
                        <iframe width="100%" height="100%" style="border:0" loading="lazy" allowfullscreen referrerpolicy="no-referrer-when-downgrade"
                            [src]="(mapskey + work.ubicacion) | safe">
                        </iframe>
                    </div>
                </div>
            </div>
            <div class="bg-white fit">
                <br>
                <div class="card-body">
                    <p class="value">Selección: {{ work.fecha_seleccion_postulante | date: 'dd/MM/yyyy' }} — <span class="italic text-busy">{{
                        dateDiff(work.fecha_seleccion_postulante) }}</span></p>
                </div>
            </div>
            <div class="bg-white fit">
                <div class="card-body">
                    <p class="value">Finaliza: {{ work.fecha_finalizacion | date: 'dd/MM/yyyy' }} — <span class="italic text-busy">{{
                        dateDiff(work.fecha_finalizacion) }}</span></p>
                </div>
            </div>
        </div>
        <div class="container background">
            <section class="postulantes">
                <h3 class="title text-busy">Postulantes</h3>
                <div class="postulantes" *ngFor="let applier of appliers">
                    <div class="postulante" [style]="applier.id_estado == 1 ? 'background: rgba(0, 180, 0, 0.6)': (applier.id_estado == 2 ? 'background: rgba(180, 0, 0, 0.6)': 'background: rgba(255, 255, 0, 0.6)')">
                        <a class="user" [routerLink]="'/app/profile/'+applier.user.rut">
                            <div class="izk">
                                <div class="profile">
                                    <img [src]="applier.user.foto == null ? 'http://localhost:3000/' + 'app/defaultprofilepic.png': 'http://localhost:3000/' + applier.user.foto"
                                        alt="" class="foto" [matTooltip]="applier.user.nombres + ' ' + applier.user.apellidos"
                                        matTooltipPosition="below">
                                </div>
                                <div class="nombre">
                                    {{ applier.user.nombres }} {{ applier.user.apellidos }}
                                </div>
                            </div>
                            <div>
                                <app-star *ngFor="let star of cantidadEstrellas(applier)" [isActive]="true"></app-star>
                                <span class="material-symbols-outlined" *ngIf="!hasNullTrabajoRealizado(applier)">
                                    done
                                </span>
                            </div>
                        </a>
                        <div class="choose" *ngIf="isAppliersApprovedLessThanMax() && isEmployer()">
                            <button class="btn btn-busy" (click)="handleChooseApplier(applier.user.rut, 1)" *ngIf="!workHasChosenApplierByRut(applier.user.rut)">
                                <span class="material-symbols-outlined">
                                check_circle
                                </span>
                            </button>
                            <button class="btn btn-busy" (click)="handleChooseApplier(applier.user.rut, 2)" *ngIf="!workHasChosenApplierByRut(applier.user.rut)">
                                <span class="material-symbols-outlined">
                                cancel
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="applierInfo" *ngIf="!hasNullTrabajoRealizado(applier)">
                        <div class="fecha">
                            <p class="value">{{ fechaTermino(applier) | date }}</p>
                        </div>
                        <div class="comentario_empleador">
                            <p class="value">{{ applier.trabajo_realizado_propio.comentario_empleador == "" ? 'El empleador no proporcionó comentario': applier.trabajo_realizado_propio.comentario_empleador }}</p>
                        </div>
                    </div>
                </div>
                <br>
            </section>
        </div>
        <br>
        <button (click)="handleDeleteWork()" class="btn btn-busy color-busy">Eliminar</button>
    </div>
</div>

<app-loader *ngIf="ready"></app-loader>