.title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    line-height: normal;
    font-family: 'Secular One';
    margin-bottom: 1rem;
}

.description {
    font-size: 1.2em;
    font-weight: normal;
    line-height: normal;
    font-family: 'Secular One';
}

#maps {
    padding: 1rem;
}

#information {
    
    overflow-y: scroll;
    padding: 5.5rem 2rem 0 2rem;
    
    @media screen and (max-width: 997px) {
        width: 100%;
        color: black;
        padding-left: 2rem;
        padding-right: 3rem;
        text-align: justify;
    }
}

#information::-webkit-scrollbar {
    -webkit-appearance: none;
}

#information::-webkit-scrollbar:vertical {
    width:5px;
}

#information::-webkit-scrollbar-button:increment,#information::-webkit-scrollbar-button {
    display: none;
} 

#information::-webkit-scrollbar-thumb {
    background-color: rgba($color: #3f02e8, $alpha: 1);
    border-radius: 20px;
}

#information::-webkit-scrollbar-track {
    border-radius: 10px;  
}

/* span {
    
    padding-top: 20px;
} */

span.italic {
    font-family: 'Secular One';
    font-size: 3rem;
    font-style: italic;
    font-size: 1rem;
}

.card-title {
    font-family: 'Secular One';
    font-size: 2rem;
    padding-top: 20px;
}

.card-body {
    padding: 0;
}


.card {
    height: 90%;
    border-radius: 20px;
    border: 5px solid #3f02e8;
}

.row>* {
    padding: 0 !important;
    border-radius: 0 !important;
}

.profile {
    width: 40px;
    height: 40px;
}

.nombre {
    /* align vertically center */
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-family: 'Secular One';
    font-size: 1rem;
}

.foto {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    
    border: 3px solid #3f02e8;
}

div.postulantes { 
    margin: 0 2rem;   
}

.postulante {
    display: block;
    border: 2px solid #3f02e8;
    margin-bottom: 5px;
    padding: 5px;
}

a.user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.cover {
    background-position: center;
    background-size: cover;
}

h3 {
    margin-top: 1rem;
}

.background {
    background-color: rgba(231, 231, 231, 90%);
}

.container {
    max-width: 800px;
}

iframe {
    border-radius: 20px;
}

.title, .description {
    padding: 10px 1rem 20px;
}

.info-cards {
    margin: 10px 10px;
}

h6 {
    margin: 0;
}

div.card-title
{
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    padding: 5px 5px;
}

div.card {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    border: 0;
}

.value {
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Secular One';
    padding: 0 10px;
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.fit {
    width: fit-content;
}

.btn {
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choose {
    display: flex;
}

.izk {
    display: flex;
    flex-direction: row;
}

.applierInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}