

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif !important;
}

h1 {
    font-size: 4rem !important;
}

h2 {
    font-size: 3rem !important;
}

h3 {
    font-size: 2rem !important;
}

h4 {
    font-size: 1.5rem !important;
}

h5 {
    font-size: 1.25rem !important;
}

h6 {
    font-size: 1rem !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Arial, Helvetica, sans-serif }

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #00000030;
}

.color-busy {
    background-color: #3f02e8;
    color: white;
}

.text-busy {
    color: #3f02e8;
}

.transparent {
    background-color: transparent;
    border: 0 !important; 
}

.p-10 {
    background-color: rgb(231, 231, 231);
    padding: 5.6rem 10% 5.6rem 0;
}

.flex-1 {
    flex: 0 1 50%;
}

.background-gray {
    background-color: rgb(231, 231, 231);
}

.btn-left {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2rem;
}

.hover {
    transition: .2s ease-in-out;
}

.hover:hover {
    transform: translate(5px, -5px);
    transition: .2s ease-in-out;
}

.btn-busy {
    margin-bottom: 20px;
}

.btn-back {
    display: flex;
    text-align: left;
}