<div class="container about">
    <h2>Mision</h2>
    <p>Entregar oportunidades de trabajo y facilitar a quienes necesiten diligentes, a través de una plataforma tecnológica cómoda, segura y fácil de usar</p>

    <br>
    <h2>Vision</h2>
    <p>Ser un símbolo de oportunidad para todos aquellos que deseen surgir a su ritmo.</p>

    <br>
    <h2>Valores</h2>
    <ul>
        <li>Transparencia: Queremos que todos los trabajos se hagan de forma correcta y transparente, por ende este valor tiene que estar inculcado en quienes trabajan.</li>
        <li>Confianza: Nos esforzamos por establecer una relación de confianza con nuestros usuarios, manteniendo la confidencialidad y seguridad de sus datos y garantizando un ambiente seguro y libre de fraudes en nuestra plataforma.</li>
        <li>Innovación: Fomentamos la innovación en nuestro enfoque de desarrollo de software, buscando constantemente formas de mejorar y ofrecer características y funcionalidades novedosas que satisfagan las necesidades cambiantes del mercado laboral.</li>
        <li>Colaboración: Valoramos la colaboración y la interacción efectiva entre los usuarios, promoviendo la comunicación abierta y constructiva, y fomentando la colaboración entre trabajadores y empleadores para lograr una relación laboral exitosa.</li>
        <li>Igualdad de oportunidades: Promovemos la igualdad de oportunidades en el acceso al empleo y en la contratación de personal, sin discriminación por raza, género, religión, origen étnico, orientación sexual, discapacidad y otras características protegidas.</li>
        <li>Excelencia: Nos esforzamos por alcanzar la excelencia en la calidad de nuestro software y en la experiencia del usuario, ofreciendo una plataforma fácil de usar, confiable y eficiente que supere las expectativas de nuestros usuarios.</li>
    </ul>

    <br>
    <h2>Historia</h2>
    <p></p>

    <br>
    <h2>Equipo</h2>
    <p></p>


</div>