.card {
   margin: 0;
   background-color: transparent;
   width: 100%;
}

.card-body {
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 100%;
    height: 100px;
    color: white;
}

.works {
    border: 0;
    padding: 0;
    margin: 0 0 20px 0;
    background-color: transparent;
    width: 100% !important;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    max-height: 100px;
}

.work {
    
}

.filter {
    /* black filter */
    padding: 10px;
    background: rgba($color: #000000, $alpha: 0.5);
    height: 100px;
}